<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de HTML</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li><a href="#home">Início</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#services">Serviços</a></li>
            <li><a href="/sistema/contato">Contato</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Olá, Mundo!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet accumsan arcu. Sed malesuada libero ut metus hendrerit, et venenatis justo tincidunt.</p>
        <div class="button-container">
            <button class="btn primary">
               <a href="/sistema/calculadora">
                Calculadora
            </a>
            </button>
            <button class="btn secondary">
                <a href="/sistema/contato">
                    Contato
                </a>
            </button>
            <button class="btn secondary">
                <a href="/sistema/aluno">
                    Aluno
                </a>
            </button>
        </div>
        <div class="footer">
            &copy; 2024 Luis Spezia. Todos os direitos reservados.
        </div>
    </div>
</body>
</html>
